html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16pt;
  color: #3f454b;
}

header, main, section, form, fieldset {
  padding: 0;
  margin: 0;
}

fieldset {
  display: inline;
  border: none;
  box-sizing: border-box;
  width: 50%;
}

h1, h2 {
  color: #252525;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.65;
  margin-bottom: 12px;
}

.header {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 10;
  background-color: #252525;
  top: 0;
}


.header p {
  text-align: center;
  color: #f0f0f0;
  font-size: 14pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 10px 0;
  margin: 0;
}

.main {
  margin-top: 80px;
  padding-top: 12px;
  padding-bottom: 50px;
}

.section {
  width: 90%;
  margin: 0 auto;
}

.form {
  background-color: #f3f3f3;
  padding: 12px;
  margin-bottom: 24px;
}

label {
  display: block;
  margin-top: 12px;
  font-size: 14pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #252525;
}

.form span {
  display: block;
  font-size: 12pt;
}

input[type=number] {
  display: inline-block;
  margin: 6px 0;
  width: 200px;
  padding: 4px 0;
  font-size: 12pt;
  font-weight: 600;
  text-align: center;
}

button[type=submit]{
  display: block;
  float: right;
  appearance: none;
  border: none;
  background-color: #252525;
  color: #f0f0f0;
  font-size: 14pt;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
  margin: 24px 0;
  margin-right: -12px;
  padding: 6px 0;
  border-radius: 3px;
  cursor: pointer;
}

output {
  display: block;
  background-color: #f3f3f3;
  margin-top: 12px;
  padding: 12px 6px;
  padding-left: 12px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media screen and (min-width: 912px){

  .section {
    max-width: 912px;
  }
}